.navbar {
    background-color: rgba(0, 0, 0, 0);
}

#hero {
    height: 85vh;
    background-image: url(./img/placeholder-boy.jpg);
    background-repeat: none;
    background-size: cover;
}

#aboutMe {
    height: 80vh;
    background-image: url(./img/placeholder-girl.jpg);
    background-repeat: none;
    background-size: cover;
    margin-top: -80px;
}

p.display-4 {
    font-size: 35px;
}

#myintro p {
    font-size: 18px;
}

#myintro a {
    font-size: 16px;
    text-decoration: none;
}

#myintro a i {
    font-size: 14px;
}

hr {
    background-color: #fff;
    opacity: 0.3;
}

.intro hr, #email-sign-up-about hr, #footer-about-me hr {
    background-color: #000;
    opacity: 0.3;
}

.copyright {
    margin-top: -10px;
}

.intro p, .work-philosophy p, .personal-quirks p {
    font-size: 18px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      #hero {
          background-position: right -180px bottom 0px;
      }
}